:root {
  --clr-bg-100: hsl(225, 100%, 94%);
  --clr-primary-200: hsl(230, 105%, 97%);
  --clr-primary-400: hsl(245, 75%, 52%);
  --clr-neutral-100: hsl(225, 100%, 98%);
  --clr-neutral-200: hsl(224, 23%, 55%);
  --clr-neutral-400: hsl(223, 47%, 23%);
  --fw-500: 500;
  --fw-700: 700;
  --fw-900: 900;
  --ff-red-hat: "Red Hat Display", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

/*
  Typographic tweaks!
  - Add accessible line-height
  - Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/order-summary-component/images/pattern-background-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: var(--clr-bg-100);
  padding: 1rem;
  font-family: var(--ff-red-hat);
}

@media only screen and (min-width: 480px) {
  body {
    background-image: url(/order-summary-component/images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }
}
@media only screen and (min-width: 375px) {
  .card__body .__order_summary {
    padding-inline: 1.2rem;
  }
  .__plan {
    padding: 0.5rem;
  }
}
p {
  font-size: 0.9rem;
  color: var(--clr-neutral-200);
}

h1,
h4 {
  color: var(--clr-neutral-400);
}

.card {
  max-width: 20rem;
  overflow: hidden;
  border-radius: 1rem;
  background-color: var(--clr-neutral-100);
  box-shadow: rgba(2, 2, 2, 0.4) 0px 10px 20px;
}
.card .card__body {
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  text-align: center;
  row-gap: 1rem;
}
.card .card__body .__order_title {
  font-size: 1.4rem;
  font-weight: var(--fw-900);
}
.card .card__body .__plan {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--clr-primary-200);
  padding: 1rem;
  border-radius: 1rem;
}
.card .card__body .__plan .__plan_left {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.card .card__body .__plan .__plan_left span {
  font-size: 0.8rem;
}
.card .card__body .__plan .__plan_left span h4 {
  font-weight: var(--fw-900);
}
.card .card__body .__plan .__plan_right {
  font-size: 0.8rem;
  font-weight: var(--fw-700);
}
.card .card__body button {
  background-color: var(--clr-primary-400);
  color: var(--clr-primary-200);
  font-size: 0.9rem;
  font-weight: var(--fw-700);
  line-height: 2.5rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  box-shadow: rgb(159, 178, 236) 0px 10px 20px;
  transition: all 0.2s ease-out;
}
.card .card__body button:hover {
  background-color: var(--clr-neutral-400);
  scale: 1.05;
}
.card .card__body .__cncl_order {
  font-size: 0.8rem;
  font-weight: var(--fw-900);
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */